.row.dashContent
  div.row.dashContentTeam(ng-repeat='member in team.inviteMembers')
    a(href='/userprofile/{{member._id.profile.slug}}')
      .col-md-1.col-xs-2.teamPhoto
        img(src='images/lannister.png')
      .col-md-10.col-xs-8
        h4 {{member._id.profile.name}}
      .col-md-1.col-xs-2
        h4 x
      br