include partials/progress-bar.jade

div.team-display
  .filter.row
    .red-bar.col-md-12
    div.col-md-12
      form.form-inline
        .form-group.col-md-10.col-sm-10.col-xs-12
          .input-group
            .input-group-addon.input-lg Filter
            input#exampleInputAmount.form-control.input-lg(type='text', placeholder='Filter teams ...', ng-model='team')
            .input-group-addon.input-lg.clear-button(ng-click='team = ""') x
        .col-md-2.col-sm-2.col-xs-12.create-button
          button.btn.btn-primary.btn-lg.btn-block.mainCreateTeamButton(ng-click="toggleCreateModal()") Create Team
  .row
    .team-list.col-md-12(ng-repeat='team in teams | filter: team')
      li.repo
        .team-img
          a(ng-click='teamNavigate(team.slug)')
            img(ng-src='{{team.teamPic}}', alt='images/group.svg')
        ul.team-memb
          li.team-members(ng-click="toggleModal(team.members)")
            img(ng-src='images/group.svg')
            | {{team.members.length}}  Member(s)
        a(ng-click='teamNavigate(team.slug)')
          h3.team-name {{team.name}}
        div.team-body
          p.prob-name
            | {{team.problemStatement.name | characters:150 }}
          p.prob-desc(ng-show='{{team.problemStatement.description}}')
            | {{team.problemStatement.description | characters:300 | filterHtml}}
          .tags
            .btn.btn-default(ng-repeat='tag in team.problemStatement.tags | limitTo:10', ng-click="filter(tag)") {{tag}}
//  
  .row.team-block
    a.col-md-2.col-sm-2(href='/team/{{team.slug}}')
      img.teamPic(src='{{team.teamPic}}')  
    .col-md-10.col-sm-10.team-details
      .row
        a.col-md-8.col-sm-8.title(href='/team/{{team.slug}}')
          | {{team.name}}
        .col-md-4.col-sm-4.members-button
          button(ng-click="toggleModal(team.members)")
            img(src='images/group.svg')
            | {{team.members.length}}  Member(s)
      .row
        .col-md-12.col-sm-12.desc
          h4 {{team.problemStatement.name | characters:150 }}
      .row
        .col-md-12.col-sm-12.desc
          | {{team.problemStatement.description | characters:150 }}
      .row
        .col-md-12.col-sm-12.tags
          .tags.col-md-1(ng-repeat='tag in team.problemStatement.tags')
            .btn.btn-default(ng-click="filter(tag)") {{tag}}


modal-dialog(show='modalShown', dialog-title='Team Members', height='auto', width='400px', background-color='#e8e8e8')
  div.teamMembersModal
    .row.modalTeamMembersContent(ng-repeat='member in teamMembers')
      a(ng-click='memberNavigate(member._id.profile.slug)')
        .col-md-3.col-sm-3.col-xs-3(style='max-height:63px; padding-left:5px; overflow:hidden')
            img.team-members.team-members-modal-image(ng-src='{{member._id.profile.picture}}')
        .col-md-9.col-sm-9.col-xs-9  
          h5.modalMemberName {{member._id.profile.name}}
        
        
modal-dialog(show='createModalShown', dialog-title='Create a Team', height='175px', width='400px')
  div.createTeamModal
    h3 No team yet?? Create one NOW!
    .row
      .col-md-9
        input.form-control(type='text', placeholder='Enter new team name...' ng-model='teamName')
      .col-md-2
        button.btn.btn-md.createTeamButton(ng-click='createTeam(teamName)') Create!
