include partials/progress-bar.jade

.col-md-10.col-md-offset-1.section2
  .row
    div.col-md-3.col-sm-6.col-xs-12.displayPic(style='background-image: url({{team.teamPic}});background-size: cover;background-position-x: 33%;background-position-y: 33%;')
    br
    div(style='position: absolute;top: 280px;left: 170px;')
      button(ng-file-select='', ng-model='files', multiple='true', ng-show='currentUser.profile.slug == admin.profile.slug') Select an Image
      .drop-box(ng-file-drop='', ng-model='files', drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}", accept='image/*', ng-show='currentUser.profile.slug == admin.profile.slug')
      div(ng-no-file-drop='') File Farg/Drop is not supported for this browser
    .col-md-7.col-sm-6.col-xs-12.teamName
      h2 {{name}}
    .col-md-3.col-sm-2.col-xs-1.lock
      img(ng-src='images/Capture.svg')
      img.deleteTeamIcon(ng-src='images/delete.svg', ng-click='deleteTeamModal()', ng-show='currentUser.profile.slug == admin.profile.slug')
.row
  .col-md-10.col-md-offset-1.sec2
    .row
      .col-md-2.col-sm-2.col-xs-6.teamMembers(ng-repeat='member in team.members')
        a(href='/userprofile/{{member._id.profile.slug}}')
          img(ng-src='{{member._id.profile.picture}}')
          br
          h6 {{member._id.profile.nameFull}}
          small {{member._id.profile.occupation}}
        h6.teamPageDeleteMemberButton(ng-click='removeMemberModal(member._id.profile.slug)', ng-show='currentUser.profile.slug == admin.profile.slug && admin.profile.slug != member._id.profile.slug') x
      .col-md-2.col-sm-2.col-xs-6.teamMembers
        img.addMemberImage(src='images/add-member.svg', ng-click="addMember()", ng-show='currentUser.profile.slug == admin.profile.slug')
        img.addMemberImage(src='images/add-member.svg', ng-click="applyToTeam()", ng-show='joinButton')
        img.addMemberImage(src='images/add-member.svg', ng-click="acceptTeam()", ng-show='acceptButton')
        p(ng-show='acceptButton') Accept Invitation
        img.addMemberImage(src='images/add-member.svg', ng-click="rejectTeam()", ng-show='acceptButton')
        p(ng-show='acceptButton') Reject Invitation
        p.addMemberText(ng-show='currentUser.profile.slug == admin.profile.slug') Add member
        p(ng-show='joinButton') Apply
        br
        
.row(ng-show='currentUser.profile.slug == admin.profile.slug')
  .col-md-10.col-md-offset-1
    div.teamPageTabs(bs-active-pane='tabs.activeTab', bs-tabs='')
      div(ng-repeat='tab in tabs', title='{{ tab.title }}', ng-bind='tab.content', bs-pane='')
      div(ng-include='', src='tabs[tabs.activeTab].page')

.row
  .col-md-10.col-md-offset-1.sec3
    h4(ng-show='!team.problemStatement.name') No Problem Statement / Description yet
    h4(ng-show='team.ps_status', ng-model='displayName') {{team.problemStatement.name}}
    img.editProblemStatementIcon(ng-src='images/edit-icon.svg', ng-show='currentUser.profile.slug == admin.profile.slug', ng-click='edit()')
    p#tpl-content(ng-show='team.ps_status', ng-bind-html='team.problemStatement.description') 
    p(ng-show='team.ps_status', ng-model='displayTags') Tags : 
      span.tagSpan(ng-repeat='tag in team.problemStatement.tags') {{tag}} 

.row(ng-show='editStatus')
  div(column='col-md-10 col-md-offset-1')
    form.form-horizontal.col-md-10.col-md-offset-1
      .form-group
        label.col-sm-3.control-label.ps Problem Statement:
        .col-sm-9
          input.form-control(type='text' ng-model='problem.name')
      .form-group
        label.col-sm-2.control-label.desc Description: 
        .col-md-12.col-sm-12.col-xs-12
          text-angular(ng-model='problem.description', ta-toolbar='[["h3"],["bold","italics","underline"]]')

.row(ng-show='editStatus')
  .col-md-10.col-md-offset-1.custom-remove-padding
    form.form-horizontal.col-md-12
      .form-group
        label.col-sm-3.control-label.tag1(for='inputEmail3') Tags :
        .col-sm-9
          tags-input(ng-model='problem.tag')
            auto-complete(source='loadTags($query)')    
    button.btn.btn-default.tag(ng-click='update()') Update
.row
  .col-md-10.col-md-offset-1.sec5
    .col-md-12.chatWallHeader
      | {{name}} chat wall
    .col-md-12.chats
      .chatRow(ng-repeat='comnt in team.chat')
        h4.commentUserName {{comnt._id.profile.name}}
        small {{comnt.date | date : format : shortTime}}
        p {{ comnt.description }} 
      .chatRow(ng-hide = 'team.chat')
        p No comments yet. Be the first to post one!

.row
  .col-md-10.col-md-offset-1.sec6
    h5  Comment on the wall 
    form
      textarea(ng-model='txtcomment', placeholder='Post a comment...', style='width:100%')
      button.btn.btn-md.btn-default(ng-click='btn_add();', style='margin-top:10px; margin-bottom:10px; float:right;') Post Comment
    
modal-dialog(show='showModal', dialog-title='Add Member', height='200px', width='480px')
  div.addMemberModalDiv.col-md-12
    h3 Add a member to your team
    div.col-md-8
      input.form-control(type='email', placeholder='Enter member email-id', ng-model='memberEmail')
    div.col-md-3
      button.btn.btn-md.addMemberModalButton(ng-click='addMemberEmail(memberEmail)') Add member
      

modal-dialog(show='removeModal', dialog-title='Remove Member', height='200px', width='480px')
  div.addMemberModalDiv.col-md-12
    h3 Are you sure you want to remove this member?
    div.col-md-12
      button.btn.btn-md.removeMember(ng-click='removeMember()') Remove member
      button.btn.btn-md.cancelAction(ng-click='closeModal()') Cancel
      
modal-dialog(show='deleteModal', dialog-title='Delete Team', height='200px', width='480px')
  div.addMemberModalDiv.col-md-12
    h3 Are you sure you want to delete the team?
    div.col-md-12
      button.btn.btn-md.removeMember(ng-click='deleteTeam()') Delete Team
      button.btn.btn-md.cancelAction(ng-click='closeModal()') Cancel
