include partials/progress-bar.jade
.container.updateProfileContainer
  .row.first
    h4 Profile Picture
    img.col-md-4.updateProfileDisplayPic(ng-src='{{user.profile.picture}}')
    br
    .col-md-12.fileSelectButton
      input#chooseFilesButtons(type='file', nv-file-select="", uploader="uploader")
      //
        button(ng-file-select='', ng-model='files', multiple='true') Attach Any File
          .drop-box(ng-file-drop='', ng-model='files', drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}", accept='image/*')
            | Drop Images or PDFs files here
          div(ng-no-file-drop='') File Farg/Drop is not supported for this browser
  br
  .row.second.user_details_container
    h4 User Details
    div(column='col-md-10')
      form.form-horizontal.col-md-10.col-md-offset-1.updateProfileForm
        .form-group
          label.col-sm-2.control-label.updateProfileLabel(for='name') Name:
          .col-sm-10
            input.form-control.updateProfileInputBox(ng-model='user.profile.name', type='text')
          label.col-sm-2.control-label.updateProfileLabel(for='full') Full Name: 
          .col-sm-10
            input.form-control.updateProfileInputBox(ng-model='user.profile.nameFull', type='text')
          label.col-sm-2.control-label.updateProfileLabel(for='company') Company: 
          .col-sm-10
            input.form-control.updateProfileInputBox(ng-model='user.profile.employers', type='text')
          label.col-sm-2.control-label.updateProfileLabel(for='occupation') Occupation: 
          .col-sm-10
            input.form-control.updateProfileInputBox(ng-model='user.profile.occupation', type='text')
          label.col-sm-2.control-label.updateProfileLabel(for='location') Location: 
          .col-sm-10
            input.form-control.updateProfileInputBox(ng-model='user.profile.location', type='text')
          label.col-sm-2.control-label.updateProfileLabel(for='website') Website: 
          .col-sm-10
            input.form-control.updateProfileInputBox(ng-model='user.profile.website', type='text')
          label.col-sm-2.control-label.updateProfileLabel(for='exp') Experience: 
          .col-sm-10
            input.form-control.updateProfileInputBox(ng-model='user.profile.experience', type='text')
          br
  .row.third.user_details_container
    h4 Skills
    div(column='col-md-10')
      form.form-horizontal.col-md-10.col-md-offset-1.updateProfileForm
        .form-group
          label.col-sm-2.control-label.updateProfileLabel Skills: 
          .col-sm-10
            tags-input(ng-model='user.profile.skills', placeholder='Enter your Skills here')
          button.btn.btn-default.tag(ng-click='update()') Update Profile
          
//crop image modal
modal-dialog(show='imageCrop', dialog-title='Crop Image', height='auto', width='auto')
  div.addMemberModalDiv.col-md-12
    div(ng-repeat="item in uploader.queue")
      .cropArea
          img-crop(image="item.image", result-image="item.croppedImage", area-type="square", result-image-size="300")
        img.croppedImage(ng-src="{{item.croppedImage}}")
      .progress
        .progress-bar(role='progressbar', ng-style="{ 'width': uploader.progress + '%' }")
      button.btn.btn-md.addMemberModalButton(ng-click="item.upload()") Upload Image
      button.btn.btn-md.addMemberModalButton(ng-click='imageCrop = !imageCrop') Cancel
  
