include partials/progress-bar.jade

.container.contentContainer
  .row
    .col-md-3.sidebar
      // SIDEBAR
      .userInfo.col-md-12.col-sm-6
        a(href="{{path}}/edit")
          img.editIcon(src='images/edit-icon-dark.svg', ng-show='{{editIcon}}')
        br
        img(ng-src='{{user.profile.picture}}')
        br
        h4 {{user.profile.nameFull}}
        
        p 
          i.fa.fa-user.userInfoIcon(ng-show='user.profile.occupation')
          | {{user.profile.occupation}}
        p 
          i.fa.fa-map-marker.userInfoIcon(ng-show='user.profile.location')
          | {{user.profile.location}}
        p 
          i.fa.fa-link.userInfoIcon(ng-show='user.profile.website') 
          | {{user.profile.website}}
        p
          i.fa.fa-building.userInfoIcon(ng-show='user.profile.employers')
          | {{user.profile.employers}}
        p 
          i.fa.fa-clock-o.userInfoIcon(ng-show='user.profile.experience')
          | {{user.profile.experience}}
      // </div>
      // <div class="row">
      .userSkillSet.col-md-12.col-sm-6
        h4  Skills 
        p(ng-repeat='skill in user.profile.skills')  - {{skill}}

    // SIDEBAR ENDS
    .col-md-9.mainContent
      // MAIN CONTENT
      div(bs-active-pane='tabs.activeTab', bs-tabs='')
        div(ng-repeat='tab in tabs', title='{{ tab.title }}', ng-bind='tab.content', bs-pane='')
        div(ng-include='', src='tabs[tabs.activeTab].page')
      a.btn.btn-md(href='/teams') View all teams
        
modal-dialog(show='leaveModal', dialog-title='Leave Team', height='200px', width='480px')
  div.addMemberModalDiv.col-md-12
    h3 Are you sure you want to leave the team?
    div.col-md-12
      button.btn.btn-md.removeMember(ng-click='leaveTeam()') Leave Team
      button.btn.btn-md.cancelAction(ng-click='closeModal()') Cancel
      

modal-dialog(show='progressModal', dialog-title='Complete Profile')
  h2 Your profile is {{progressData}}% complete
  .progress
    .progress-bar.progress-bar-success.progress-bar-stripes(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: {{progressData}}%')
      span.sr-only 40% Complete (success)
  a.btn.btn-md.addMemberModalButton(href="{{path}}/edit" style='left:0px;') Complete Profile
    // MAIN CONTENT ENDS
//    ng-if="currentUser.slug == user.profile.slug"
