$body-bg: #e4e7ec;

$font-family-base: 'Open Sans', sans-serif;
$headings-color: #111;

$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: bold;

$brand-success: #22ae5f;
$brand-primary: #1d7cf4;
$brand-danger: #b30015;
$brand-warning: #ffd66a;

$text-muted: #90939a;
$link-color: #000;

$navbar-default-link-active-bg: #f7f7f7;
$navbar-default-link-color: #848484;
$navbar-default-bg: #fff;
$navbar-default-border: #e3e9ec;

$navbar-default-brand-color: #333;
$navbar-default-brand-hover-color: #ffe939;
$navbar-default-brand-hover-bg: #333;

$btn-success-bg: $brand-success;
$btn-success-border: darken($btn-success-bg, 3%);
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 3%);

$jumbotron-padding: 16px;
$jumbotron-bg: #f4f6f8;

$alert-border-radius: 0;
$input-border-radius: 0;

$alert-success-text: #fff;
$alert-success-bg: #60c060;
$alert-success-border: darken($alert-success-bg, 3%);

$alert-danger-text: #fff;
$alert-danger-bg: $brand-danger;
$alert-danger-border: darken($alert-danger-bg, 3%);

$alert-info-bg: #e5f7fd;
$alert-info-border: #bcf8f3;
$alert-info-text: #25484e;

$btn-font-weight: bold;


//colors
$white: #fff;

//fonts
$font_0: Droid Serif;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Montserrat;

//colors
$color_log_cabin_approx: #222;
$white: #fff;
$color_sunglow_approx: #fed136;
$color_pink_swan_approx: #bbb;
$color_cinnabar_approx: #e74c3c;

@import 'bootstrap/bootstrap';

body {
  padding-bottom: 20px;
  background-color: #fff;
}

em {
  font-style: normal;
  text-decoration: underline;
}

.jumbotron {
  margin-top: -20px;
  border-bottom: 1px solid #dae2e4;
}

.media-object {
  max-width: 200px;
  margin-bottom: 10px;
}

.alert {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.btn {
  border-radius: 2px;
}

.btn-lg {
  font-size: 14px;
}

.btn [class^='ion-'] {
  margin-right: 6px;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid darken(#3b5998, 3%);

  &:hover {
    color: #fff;
    background-color: darken(#3b5998, 7%);
  }
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid darken(#dd4b39, 3%);

  &:hover {
    color: #fff;
    background-color: darken(#dd4b39, 7%);
  }
}

.center-form {
  width: 330px;
  margin: 10% auto;

  input {
    border-radius: 0;
  }
}

.password-strength-indicator {
  position: absolute;
  right: 0;
  top: 10px;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  height: 5px;
  margin-bottom: 2px;
  width: 5px;
  border-radius: 5px;
  background: #ebeef1;
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0,0,0,.2);
}

.panel-default > .panel-heading {
  color: #444;
  border-color: #cfd9db;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  background-color: #f6f6f6;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
  padding: 4px 8px;
  border: 0;
  border-radius: 3px;
  font-size: 12px;
  transition: 0.1s all;
  -webkit-font-smoothing: antialiased;
}

.label-default {
  background-color: #e4e7ec;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  color: #90939a;

  &:hover {
    background-color: #90939a;
    color: #f4f6f8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  }
}

.alert-material {
  font-family: 'Roboto', sans-serif;
  outline: none;
  display: inline-block;
  background: #323232;
  color: #f1f1f1;
  min-height: 48px;
  padding: 13px 24px 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  z-index: 1;
  border-radius: 2px;
  cursor: default;
  position: fixed;
  bottom: 12px;
  right: 12px;
}

.alert-dismissable .close {
  line-height: 19px;
  top: 0;
  right: -11px;
  color: #eeff41;
  cursor: pointer;
  float: right;
  opacity: 1;
  text-shadow: none;
  font-weight: normal;
}

.signup-or-separator {
  background: none;
  height: 34px;
  position: relative;
  text-align: center;

  hr {
    border-top: 1px solid #dce0e0;
    margin: -16px auto 10px auto;
    width: 90%;
  }

  .text {
    background-color: #fff;
    display: inline-block;
    margin: 0;
    padding: 8px;
  }
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.fade-repeat.ng-enter {
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

.fadeZoom.ng-enter {
  -webkit-animation-name: fadeIn, zoomIn;
  -webkit-animation-duration: 0.6s, 0.2s;
  animation-name: fadeIn, zoomIn;
  animation-duration: 0.6s, 0.2s;
}

.fadeZoomFadeDown.ng-enter {
  @extend .fadeZoom.ng-enter;
}

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.6s;
  animation: fadeOutDown 0.6s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    -ms-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 28px;
    line-height: 30px;
    height: 65px;
}

ul.navbar-nav {
      height: 65px;
      padding: 8px;
}

header {
  text-align: center;
  color: $white;
  background-attachment: scroll;
  background-image: url(../images/header-bg.jpg);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    .intro-lead-in {
      margin-bottom: 25px;
      font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
    }
    .intro-heading {
      margin-bottom: 25px;
      text-transform: uppercase;
      font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
    }
  }
}

@media (min-width:768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
    .intro-lead-in {
      margin-bottom: 25px;
      font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
    }
    .intro-heading {
      margin-bottom: 50px;
      text-transform: uppercase;
      font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
    }
  }
}


section {
  padding: 100px 0;
  h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
  }
  h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
  }
}
@media (min-width:768px) {
  section {
    padding: 150px 0;
  }
}
.schedule-heading {
  margin: 15px 0;
  text-transform: none;
}

#team {
  background-color: #2b2b2b;
}

#team h2.section-heading {
  color: #fff;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    margin: 0 auto;
    border: 7px solid $white;
  }
  h4 {
    margin-top: 25px;
    color: #fff;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
aside.clients img {
  margin: 50px auto;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #000;
    background-color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}


footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
    line-height: 40px;
  }
  ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
    line-height: 40px;
  }
}
section#contact {
  background-color: $color_log_cabin_approx;
  background-image: url(../images/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input {
      padding: 20px;
      &.form-control {
        height: auto;
      }
    }
    textarea {
      padding: 20px;
      &.form-control {
        height: 236px;
      }
    }
  }
  &::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
    font-weight: 700;
    color: $color_pink_swan_approx;
  }
  &:-moz-placeholder {
    text-transform: uppercase;
    font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
    font-weight: 700;
    color: $color_pink_swan_approx;
  }
  &::-moz-placeholder {
    text-transform: uppercase;
    font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
    font-weight: 700;
    color: $color_pink_swan_approx;
  }
  &:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
    font-weight: 700;
    color: $color_pink_swan_approx;
  }
  .text-danger {
    color: $color_cinnabar_approx;
  }
  .form-control:focus {
    border-color: $color_sunglow_approx;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
  }
}

body
{
    background: #f6f6f6;
}

@font-face
{
    font-family: Humanist777BT;
    src: url('../fonts/humanist-777-bt-1361500798.ttf');
}

@font-face
{
    font-family: Raleway;
    src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'SFNewRepublic'; /*a name to be used later*/
    src: url('../fonts/SF New Republic.ttf'); /*URL to font*/
}

.userInfo, .userSkillSet
{
    text-align: center;
    height: auto;
    padding: 10px;
    font-family: Raleway;
    background-color: #2b2b2b;
//    border-radius:5px;
    margin-bottom: 10px;
/*    margin-right: 10px;*/
}

.userInfo img
{
    border-radius: 50% !important;
    width: 120px;
}

.userInfo h4, .userSkillSet h4
{
    color: #e8e8e8;
}

.userInfo p, .userSkillSet p
{
    color: #e8e8e8;
    margin-top: -10px;
    text-align: left;
    width: 80%;
    margin: auto;
}

.contentContainer
{
    background: #fff;
//    padding: 10px;
    margin-top: 75px;
}

.dash
{
    padding: 10px;
    background-color: #2b2b2b;
//    border-radius: 5px;
}

.dashTab
{
    background-color: #646464;
    font-family: Raleway;
    text-align: center;
/*    margin: 10px;*/
/*    width: auto;*/
/*    border-radius: 5px;*/
}

.dashTab h6, .dashTabActive h6
{
    color: #e8e8e8;
}

.dashTab:hover
{
    background-color: #bf3431;
    color: #fff;
    cursor: pointer;
//    border-radius: 5px;
}

.dashTabActive
{
    background-color: #bf3431;
    color: #ffffff;
//    border-radius: 5px;
    text-align: center;
}

.dashContent
{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2b2b2b;
    padding: 15px;
//    border-radius: 5px;
}

.teamPhoto img
{
    width: 50px;
}

.dashContent h4
{
    font-family: Raleway;
    color: #e8e8e8;
}

.dashContent hr
{
    color: #646464;
    margin: 10px;
}

.dashContentTeam:hover
{
    background-color: #646464;
//    border: solid 1px #e8e8e8;
//    border-radius: 5px;
//    padding: 2px;
}

.sidebar
{
  padding-left: 10px;
}

.mainContent
{
  padding-right: 25px;
}

.sidebar, .mainContent
{
  margin-top: 10px;
}

.nav li a
{
  background-color: #2b2b2b;
  color: #e8e8e8;
}

.logout
{
  background-color: transparent;
}

.nav li a:hover
{
  background-color: #bf3431;
  color: #e8e8e8;
  cursor: pointer;
}

.nav-tabs li.active a,  
{
  color: #e8e8e8;
  background-color: #bf3431;
  border-bottom-color: transparent;
  cursor: default;
}

.progress {
    background-color: #2b2b2b;
    height: auto!important;
    padding-top: 65px;
    padding-bottom: 20px;
}

.progress-items {
    padding-right:50px;
    padding-left: 50px;
    padding-top: 20px;
}

.progress-items .text-center {
    height: 150px;
    background-color:#ffffff;
    margin-top: 10px;
    border: 5px solid #2b2b2b;
    padding-left: 0px;
    padding-right: 0px;
}

.progress-items .text-center img {
    padding-top: 20px;
}

.progress-items .text-center .progress-stat-done {
    height: 6px;
    background-color: #bf3431;
}

.progress-items .text-center .progress-stat-pending {
    height: 6px;
    background-color:#646464; 
}

.red-bar {
    height: 6px;
    background-color:#bf3431;
    margin: 0px;
    padding: none;
}

@media screen and (max-width:768px)
{
    .text-center p
    {
        display: none;
    }
    
    .progress-items .text-center {
        height: 80px !important;
        width: 16.667%
    }
    
    .progress-items {
        padding-right:5px;
        padding-left: 5px;
        padding-top: 10px;
    }
    
    .text-center img {
/*        max-width:50%;*/
        max-height: 50px;
        width: 90%;
        vertical-align: middle;
    }
    
    .progress-items .text-center img {
        padding-top: 10px;
    }
    
    .desc{
        display: none;
    }
    
    .search-pane {
        margin-right: 0px;
        margin-left: 0px;
    }
    
    .navbar {
    margin-bottom:0px !important;
    padding-left: 5px;
    padding-right: 5px;
    }

}
