.row.dashContent
  div.row.dashContentTeam(ng-repeat='invited in user.events[0].teamInvites', ng-hide='!displayTeamInvites')
    a(href='/team/{{invited._id.slug}}')
      .col-md-1.col-sm-2.col-xs-2.teamPhoto
        img(src='images/lannister.png')
      .col-md-10.col-sm-9.col-xs-8
        h4 {{invited._id.name}}
      br
  div.col-md-12(ng-hide='displayTeamInvites') 
    h4 You have not been invited to any team yet. :(    
// dashContent ENDS