
<div class="row dashContent">
  <div class="row dashContentTeam"><a href="#">
      <div class="col-md-1 teamPhoto"><img src="images/lannister.png"/></div>
      <div class="col-md-10">
        <h4>Lannister Coders</h4>
      </div>
      <div class="col-md-1">
        <h4>x</h4>
      </div></a></div>
  <hr/>
  <div class="row dashContentTeam"><a href="#">
      <div class="col-md-1 teamPhoto"><img src="images/stark.png"/></div>
      <div class="col-md-10">
        <h4>Stark Badgers</h4>
      </div>
      <div class="col-md-1">
        <h4>x</h4>
      </div></a></div>
  <hr/>
  <div class="row dashContentTeam"><a href="#">
      <div class="col-md-1 teamPhoto"><img src="images/lannister.png"/></div>
      <div class="col-md-10">
        <h4>Lannister Coders</h4>
      </div>
      <div class="col-md-1">
        <h4>x</h4>
      </div></a></div>
  <hr/>
  <div class="row dashContentTeam"><a href="#">
      <div class="col-md-1 teamPhoto"><img src="images/stark.png"/></div>
      <div class="col-md-10">
        <h4>Stark Badgers</h4>
      </div>
      <div class="col-md-1">
        <h4>x</h4>
      </div></a></div>
</div>
<!-- dashContent ENDS-->